<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bestie" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bestie" >
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".animal.AnimalActivity"
            android:exported="false" />
        <activity
            android:name=".pet.NewPetActivity"
            android:exported="false" />
        <activity
            android:name=".pet.UpdatePetActivity"
            android:exported="false" />
        <activity
            android:name=".pet.PetActivity"
            android:exported="false" />
        <activity
            android:name="home.HomeActivity"
            android:exported="false" />
        <activity
            android:name="map.MapActivity"
            android:exported="false" />
        <activity
            android:name=".curiosity.CuriosityActivity"
            android:exported="false" />
        <activity
            android:name=".login.LogInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registrazione.SignInActivity"
            android:exported="false" >
        </activity>
    </application>

</manifest>