<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bestie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".API.API_Connection_Bestie"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bestie"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".storage.StorageActivity"
            android:label="Your files"
            android:parentActivityName=".MainActivity"
            android:exported="false" >
        </activity>

        <activity
            android:name=".curiosity.AnimalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".settings.ChangePasswordActivity"
            android:exported="false"
            android:label="Change password"
            android:parentActivityName=".settings.SettingsActivity" />
        <activity
            android:name=".API.buttareActivity"
            android:exported="false"></activity>
        <activity
            android:name=".pet.NewPetActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Aggiungi pet"/>
        <activity
            android:name=".pet.UpdatePetActivity"
            android:exported="false" />
        <activity
            android:name=".pet.PetActivity"
            android:label="Il tuo pet"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".login.LogInActivity"
            android:exported="true"
            android:label="Bestie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signin.SignInActivity"
            android:exported="false"
            android:label="Bestie: Sing in"
            android:parentActivityName=".login.LogInActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Bestie!">

        </activity>
    </application>

</manifest>