body{
    margin:0px;
    font-family: cursive;
    background-color: rgb(200, 231, 200);
}

/*   CONTENITORI   */

#top_bar{
    display: block;
    height: fit-content;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: url("../img/admin_background_bar.png");
    background-repeat: repeat;
    background-size: 35%;
    color: wheat;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    position: fixed;
    top: 0;
    overflow: hidden;
    border-bottom: 3px solid darkgreen;
}

/*#bottom_bar{
    height: 2.7em;
    width: 100%;
    background-image: url("../img/admin_background_bar.png");
    background-repeat: repeat;
    background-size: 35%;
    color: darkgreen;
    border-top: 3px solid darkgreen;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}*/

#navbar{
    background-color: lightgreen;
    border-right: 3px solid darkgreen;
    border-bottom: 3px solid darkgreen;
    height: 100%;
    width: 20%;
    padding-top:  5em;
    display: inline;
    float:left;
}

::-webkit-scrollbar{
    width: 0px;
}

#content{
    background-color: rgb(200, 231, 200);
    margin-top: 5em;
    height: 100%;
    width: 78.49%;
    display: inline;
    float: right;
    right: 0;
}

.left_menu{
    background-color: #524a4a93;
    margin-bottom: 1em;
    padding:1em;
    font-weight: bold;
    color:white;
    font-size: 1em;
}

/*     ELEMENTI     */

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

th{
    color: red;
}

th, td{
    padding-left: 3em;
    height: 5em;
    text-align: center;
}

/*   LISTA OGGETTI   */

.pencil{
    display:inline;
}

.trash{
    display:inline;
}

.ok{
    display: none;
}

.cross{
    display: none;
}